{% extends 'base.html.twig' %}

{% block body %}
    <h1>BookFlight list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Create</th>
                <th>Update</th>
                <th>Userid</th>
                <th>Flightid</th>
                <th>Passengernumber</th>
                <th>Paid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bookFlight in bookFlights %}
            <tr>
                <td><a href="{{ path('_show', { 'id': bookFlight.id }) }}">{{ bookFlight.id }}</a></td>
                <td>{% if bookFlight.create %}{{ bookFlight.create|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if bookFlight.update %}{{ bookFlight.update|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ bookFlight.userId }}</td>
                <td>{{ bookFlight.flightId }}</td>
                <td>{{ bookFlight.passengerNumber }}</td>
                <td>{% if bookFlight.paid %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('_show', { 'id': bookFlight.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
