{% extends 'base.html.twig' %}

{% block body %}
    <h1>BookFlight</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bookFlight.id }}</td>
            </tr>
            <tr>
                <th>Create</th>
                <td>{% if bookFlight.create %}{{ bookFlight.create|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Update</th>
                <td>{% if bookFlight.update %}{{ bookFlight.update|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Userid</th>
                <td>{{ bookFlight.userId }}</td>
            </tr>
            <tr>
                <th>Flightid</th>
                <td>{{ bookFlight.flightId }}</td>
            </tr>
            <tr>
                <th>Passengernumber</th>
                <td>{{ bookFlight.passengerNumber }}</td>
            </tr>
            <tr>
                <th>Paid</th>
                <td>{% if bookFlight.paid %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
