{% extends 'base.html.twig' %}

{#{% form_theme form '../form/bootstrap_3_horizontal_layout.html.twig' %}#}

{#{{ form_start(index) }}#}
    {#{{ form_widget(index) }}#}
{#{{ form_end(index) }}#}

{% block body %}
    <h1>Flight search</h1>

    {% form_theme form '/form/bootstrap_3_horizontal_layout.html.twig' %}

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

    {% if flights|length > 0 %}
        <h1>Flight list</h1>
        <div class="bs-example" data-example-id="simple-table">
            <table class="table">
                <thead>
                <tr>
                    <th>Dep/Arr</th>
                    <th>Date Departure</th>
                    <th>Date Arrival</th>
                    <th>Origin Airport</th>
                    <th>Destination Airport</th>
                    <th>Travel time</th>
                    <th>Airline</th>
                    <th>Flightnumber</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                {% for key, flight in flights %}

                        <tr class="success">
                            <td><span class="glyphicon glyphicon-export" aria-hidden="true"></span></td>
                            <td>
                                {{ flight.dateDeparture|date('Y-m-d H:i') }}</td>
                            <td>{{ flight.dateArrival|date('Y-m-d H:i') }}</td>
                            <td>{{ flight.originAirport.getAirportName() }}</td>
                            <td>{{ flight.destinationAirport.getAirportName() }}</td>
                            <td>{{ flight.getTravelTime() }}</td>
                            <td>{{ flight.flightAirline.getName() }}</td>
                            <td>{{ flight.flightNumber }}</td>
                            <td>{{ flight.price }}</td>
                        </tr>
                    {% if flightsReturn[key] is defined %}
                        <tr >
                            <td><span class="glyphicon glyphicon-import" aria-hidden="true"></span></td>
                            <td>{{ flightsReturn[key].dateDeparture|date('Y-m-d H:i') }}</td>
                            <td>{{ flightsReturn[key].dateArrival|date('Y-m-d H:i') }}</td>
                            <td>{{ flightsReturn[key].originAirport.getAirportName() }}</td>
                            <td>{{ flightsReturn[key].destinationAirport.getAirportName() }}</td>
                            <td>{{ flightsReturn[key].getTravelTime() }}</td>
                            <td>{{ flightsReturn[key].flightAirline.getName() }}</td>
                            <td>{{ flightsReturn[key].flightNumber }}</td>
                            <td>{{ flightsReturn[key].price }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                {% for flight in flightsReturn %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}


{% endblock %}