{% extends 'base.html.twig' %}

{% block body %}
    <h1>Flight edit</h1>

    {% form_theme edit_form 'form/bootstrap_3_horizontal_layout.html.twig' %}

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
    <div class="form-group" >
        <input class="btn btn-success" type="submit" value="Edit">
        <a class="btn btn-default" href="{{ path('flight_index') }}">Back to the list</a>
        <a class="btn btn-danger" href="{{ path('flight_delete',  { 'id': flight.id }) }}">Delete</a>
    </div>
    {{ form_end(edit_form) }}

<div class="form-group" >

    {#{{ form_start(delete_form) }}#}
    {#<input class="btn btn-danger" type="submit" value="Delete">#}
    {#{{ form_end(delete_form) }}#}
</div>

{% endblock %}
