{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        <li>
            <a href="{{ path('flight_new') }}">Create a new entry</a>
        </li>
    </ul>
<h1>Flight list</h1>
<div class="bs-example" data-example-id="simple-table">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date Departure</th>
                <th>Date Arrival</th>
                <th>Origin Airport</th>
                <th>Destination Airport</th>
                <th>Airline</th>
                <th>Aircraft</th>
                <th>Availability</th>
                <th>Flightnumber</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for flight in flights %}
            <tr>
                <td><a href="{{ path('flight_show', { 'id': flight.id }) }}">{{ flight.id }}</a></td>
                {#<td>{% if flight.created %}{{ flight.created|date('Y-m-d H:i:s') }}{% endif %}</td>#}
                {#<td>{% if flight.updated %}{{ flight.updated|date('Y-m-d H:i:s') }}{% endif %}</td>#}
                <td>{{ flight.dateDeparture|date('Y-m-d H:i:s') }}</td>
                <td>{{ flight.dateArrival|date('Y-m-d H:i:s') }}</td>
                <td>{{ flight.originAirport.getAirportName() }}</td>
                <td>{{ flight.destinationAirport.getAirportName() }}</td>
                <td>{{ flight.flightAirline.getName() }}</td>
                <td>{{ flight.flightAircraft.getName() }}</td>
                <td>{{ flight.availability }}</td>
                <td>{{ flight.flightNumber }}</td>
                <td>{{ flight.price }}</td>
                <td>

                    <a class="btn btn-link" href="{{ path('flight_show', { 'id': flight.id }) }}">show</a>
                    <a class="btn btn-link" href="{{ path('flight_edit', { 'id': flight.id }) }}">edit</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


</div>

{% endblock %}
