{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        <li class="btn btn-xs btn-link">
            <a href="{{ path('flight_index') }}">Back to the list</a>
        </li>
    </ul>
    <h1>Flight creation</h1>

    {% form_theme form 'form/bootstrap_3_horizontal_layout.html.twig' %}

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}


{% endblock %}
