{% extends 'base.html.twig' %}

{% block body %}
    <h1>Flight</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ flight.id }}</td>
            </tr>
            <tr>
                <th>Date departure</th>
                <td>{{ flight.dateDeparture|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Date arrival</th>
                <td>{{ flight.dateArrival|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Origin Airport</th>
                <td>{{ flight.originAirport.getAirportName() }}</td>
            </tr>
            <tr>
                <th>Destination Airport</th>
                <td>{{ flight.destinationAirport.getAirportName() }}</td>
            </tr>
            <tr>
                <th>Airline</th>
                <td>{{ flight.flightAirline.getName() }}</td>
            </tr>
            <tr>
                <th>Aircraft</th>
                <td>{{ flight.flightAircraft.getName() }}</td>
            </tr>
            <tr>
                <th>Availability</th>
                <td>{{ flight.availability }}</td>
            </tr>
            <tr>
                <th>Flightnumber</th>
                <td>{{ flight.flightNumber }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ flight.price }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-link" href="{{ path('flight_index') }}">Back to the list</a>

    <a class="btn btn-link" href="{{ path('flight_edit', { 'id': flight.id }) }}">Edit</a>

    {{ form_start(delete_form) }}
        <input type="submit" class="btn btn-danger" value="Delete">
    {{ form_end(delete_form) }}


{% endblock %}
